body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Estilos para a janela do jogo */
#janela-jogo {
    background-color: #fff;
    border: 2px solid #333;
    padding: 90px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: inline-block; /* Isso permite que o conteúdo tenha uma borda em volta */
}

#palavra-escondida {
    font-size: 44px;
    margin-bottom: 10px;
}

#tentativas {
    font-size: 26px;
    margin-bottom: 20px;
}

#teclado {
    font-size: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
#teclado {
    font-size: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

#teclado button {
    font-size: 24px;
    padding: 10px;
    text-align: center;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 5px;
}

#teclado button:hover {
    background-color: #ddd;
}
